[Unit]
Description=Announce Apache

# Requirements
Requires=etcd2.service
Requires=apache@%i.service
 
# Dependency ordering and binding
After=etcd2.service
After=apache@%i.service
BindsTo=apache@%i.service


[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker pull eandreev/discovery
ExecStart=/usr/bin/docker run \
    --rm \
    --name apache-discovery.%i \
    --memory 256m \
    eandreev/discovery \
        php /var/www/php/check-apache.php \
            apache-%i \
            ${COREOS_PRIVATE_IPV4}:2379,${COREOS_PRIVATE_IPV4}:4001 \
            ${COREOS_PRIVATE_IPV4} \
            80
ExecStop=-/usr/bin/etcdctl rm /services/apache/${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/docker stop apache-discovery.%i


[X-Fleet]
# Schedule on the same machine as the associated Apache service
MachineOf=apache@%i.service
Conflicts=apache-discovery@*.service

