[Unit]
Description=Announce Graphite/Carbon

# Requirements
Requires=etcd2.service
Requires=graphite.service
 
# Dependency ordering and binding
After=etcd2.service
After=graphite.service
BindsTo=graphite.service


[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker pull eandreev/discovery
ExecStart=/usr/bin/docker run \
    --name graphite-discovery \
    --memory 256m \
    eandreev/discovery \
        php /var/www/php/graphite-config-announce.php \
            ${COREOS_PRIVATE_IPV4}:2379,${COREOS_PRIVATE_IPV4}:4001 \
            ${COREOS_PRIVATE_IPV4}
ExecStop=-/usr/bin/etcdctl rm /services/graphite/${COREOS_PRIVATE_IPV4}
ExecStop=/usr/bin/docker stop graphite-discovery

[X-Fleet]
# Schedule on the same machine as the associated Apache service
MachineOf=graphite.service
